<div class="card mt-5 shadow-effect" style="border: none;">
    <div class="card-body">
        <h4> Leave a Comment </h4>
        <p> You can leave a comment using this form. </p>

        <form>
            <div class="form-group">
                <label for=""> Name </label>
                <input type="text" class="form-control shadow-effect mt-2" style="border: none;" placeholder="Enter your name here">
            </div>

            <div class="form-group mt-3">
                <label for=""> Comment </label>
                <textarea name="" id="" cols="30" rows="10" class="form-control shadow-effect mt-2" style="border: none;" placeholder="Write your comment here"></textarea>
                
                <button class="btn btn-info mt-3 shadow-effect"> Add a Comment </button>
            
            </div>

        </form>

    </div>
</div>
